@page "/addbusinessowner"
@page "/addbusinessowner/{edit}"
@using Entities;
@using ShopAdmin.Data;
@inject NavigationManager nm;
@inject IAllBusinessOwner bo;


<EditForm Model="BOModel">
    <input type="text" @bind="@BOModel.firstname" placeholder="Enter First Name"/>
    <br />
    <br />
    <input type="text" @bind="BOModel.lastname" placeholder="Enter Last Name"/>
    <br />  <br />

    <input type="text" @bind="BOModel.cnic" placeholder="Enter CNIC" />
    <br />  <br />

    <input type="text" @bind="BOModel.emailadress" placeholder="Enter Email Adress" />
    <br />  <br />

    <input type="text" @bind="BOModel.phone" placeholder="Enter Phone" />
    <br />  <br />

    <button type="submit" @onclick=saveBO>Save</button>
</EditForm>

@code {
    EntBusinessOwner BOModel { get; set; } = new EntBusinessOwner();
    [Parameter] public string? edit{get;set;}
    private string? ButtonTitle { get; set; } = "Save";

    protected override async Task OnInitializedAsync()
    {
        if (edit == "update")
        {
            //BOModel = BusinessOwner.UpdateBO;
            ButtonTitle = "Update";
        }
        //return base.OnInitializedAsync();
    }



    private void saveBO()
    {
        if (ButtonTitle == "Save")
        {
            Random rand = new Random();
            BOModel.boid = rand.Next(100000, 999999);
            bo.AddOwner(BOModel);
            nm.NavigateTo("allbusinessowner");
        }
        else if (ButtonTitle == "Update")
        {
            bo.UpdateBO(BOModel);
            nm.NavigateTo("allbusinessowner");
        }
    }
}
