

@page "/addownershop/{boid}";
@page "/addownershop/{boid}/{edit}";
@using Entities;
@using ShopAdmin.Data;
@inject NavigationManager nm;
@inject IShop bo;

<br />
<br />

<h3>AddOwnerShop</h3>
<br />

<EditForm Model="ShopModel">
    <input type="text" @bind=ShopModel.businessdescription placeholder="Enter Business Description"/>
    <br /><br />
    <input type="text" @bind=ShopModel.city placeholder="Enter City" />
    <br /><br />
    <input type="text" @bind=ShopModel.area placeholder="Enter Area" />
    <br /><br />
    <input type="text" @bind=ShopModel.location placeholder="Enter Location" />
    <br /><br />
    <input type="text" @bind=ShopModel.coverimageurl placeholder="Enter Coverimage" />
    <br /><br />
    <input type="text" @bind=ShopModel.logurl placeholder="Enter Logo" />
    <br /><br />
    <input type="text" @bind=ShopModel.phone placeholder="Enter Phone" />
    <br /><br />
    
    <button type="submit" @onclick=SaveShop>Save</button>
</EditForm>
@code {
    private int selectedBusinessOwnerId;
    private EntShop ShopModel { get; set; } = new EntShop();
    [Parameter] public string? edit { get; set; }
    private string? ButtonTitle { get; set; } = "Save";


    public int boid { get; set; }
    [Parameter]
    public string Boid
    {
        get => boid.ToString();
        set
        {
            if (int.TryParse(value, out int parsedvalue))
            {
                boid = parsedvalue;
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (edit == "update")
        {
            ShopModel = OwnerShops.UpdateBO;
            ButtonTitle = "Update";
        }
        //return base.OnInitializedAsync();
    }

    private void SaveShop()
    {
        if (ButtonTitle == "Save")
        {
            Random rand = new Random();
            ShopModel.shopid = rand.Next(100000, 999999);
            ShopModel.boid = boid;
            bo.SaveShop(ShopModel);
            nm.NavigateTo($"/ownershops/{boid}");
        }
        else if (ButtonTitle == "Update")
        {
            bo.UpdateShop(ShopModel);
            nm.NavigateTo($"/ownershops/{boid}");
        }
    }
}
