@page "/"
@attribute [Authorize(Roles="administrator")]   


<AuthorizeView>
    <Authorized>
        <Dailysales></Dailysales>
    </Authorized>
    <NotAuthorized>
        <p>Not authrized</p>
    </NotAuthorized>
</AuthorizeView>


